<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

<div class="top-bar">
    <div class="company-name">Acente</div>
    <div class="user-actions"></div>
</div>

<div class="app-container">
  <app-sidebar *ngIf="!isLoginPage()"></app-sidebar>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
